<%= form_for (@dream) do |f| %>
<fieldset>
	<legend>Submit your Dream</legend>

<table>
<tr><td>  
	<p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
    </p></td>
	<td>
	<%= f.label :date %><br />
	<%= date_select :dream, :date, :start_year => 1950, :end_year => Time.now.year, :order => [:month, :day, :year ], :default => 1.day.ago %>
	</td>	
</tr>
</table>
  <p>
    <%= f.label "Your Dream" %><br />
    <%= f.text_area :body, :cols => 50 %>
  </p>

  <p>
    <%= f.label "Feeling" %><br />
	Was this a good dream or a bad dream? (1 is nightmare, 5 is bliss!)
    <%= f.range_field :feeling,	 :in => 1..5 %>
  </p>
  <p>
    <%= f.label "Private" %><br />
    <%= f.check_box :private %> Private Dream (don't show anyone else!)
  </p>

  <p>
    <%= f.submit 'Submit Dream' %>
  </p>
</fieldset>
<% end %>


  <% if @dream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dream.errors.count, "error") %> prohibited this dream from being saved:</h2>

      <ul>
      <% @dream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

