<tr class="<%= cycle("even", "odd") %>">
<td align=center>
	<%= avatar_thumb_linked_with_username(dream.user_id) %>
</td>
<td><b><%= link_to(dream.title, dream) %></b>
	<i>(<%=h time_ago_in_words(dream.created_at) %> ago)</i>
	
	<% 	if current_user_is?(dream.user_id) || (current_user && current_user.role == User::ADMIN) %>
	<span style:"float:right">
		<%=	link_to(image_tag("delete.png", :border =>0, :size =>"24x24", :alt => "Delete Dream", :title => "Delete Dream" ), dream_path(dream.id), :method => :delete, :confirm => "Are you sure you want to delete this dream?") %>
	    <%= link_to image_tag("edit.png", :border =>0, :size =>"24x24", :alt => "Edit Dream", :title => "Edit Dream" ), edit_dream_path(dream.id) %>
	    <% if dream.private %>PRIVATE!<% end %>
	</span>
    <%	end %>
</td>