
	<h1><%=h @dream.title %></h1>
	<div id="contentcolumn">
	<i>by  
			<% if (@dream.user_id == -1) then %> 
			unknown 
			<% else %>
			<%= getUsernameLinkById(@dream.user_id) %>
			<% end %>
			(dreamed on <%= dreamDate(@dream) %>)
	
	</i>
	
	<p>  
	  <%= simple_format(sanitize(@dream.body,:tags => %w(b i u))) %>
	</p>
	<div id="tags">
	Tags:

	</div>
</div>
	
<div id="rightcolumn">
	<% 	if current_user_is?(@dream.user_id) %>
	    <%= link_to image_tag("edit.png", :border =>0,  :alt => "Edit Dream"), edit_dream_path(@dream.id) %>
		<%=	link_to(image_tag("delete.png", :border =>0,  :alt => "Delete Dream"), @dream, :method => :delete) %>
	<%	end %>
	<p><fb:like></fb:like></p>
	<div id="ratings" >
		<% unless current_user %><b> You must be <%= link_to "logged in", new_user_session_path %> to rate dreams!</b><% end %>
		

	</div>
	<div id="commentarea">
		<%= render "comments/comment", :locals => { :commentable => @dream } %>
	</div> <!-- end commentarea -->	
</div>