<%= link_to "Add comment", "#" %>
<div class = "comment_form">
 <!-- maybe make this only appear on click later -->
   <% if user_signed_in? %>
           <%= form_for @comment, :remote => true do |f| %>
           <fieldset>
               <legend>Add Comment</legend>
               <%= text_area :comment, :body, :cols => 32, :rows => 4 %>
				<% # TODO : there must be a better way to use polymorphic relationship than these hidden fields %>
				<%= f.hidden_field(:commentable_id, :value=> @commentable.id) %>
               <%= f.hidden_field(:commentable_type, :value=> @commentable.class.name) %>

				<p>
               <%= submit_tag 'Add Comment' %>
               </p>
           </fieldset>
           <% end %>
   <% else %>
           <b> You must be <%= link_to "logged in", new_user_session_path %> to comment!</b>
   <% end %>
</div>
