<%= form_for(@user, :html => { :multipart => true }) do |f| %>
<fieldset>
	<legend>User Settings</legend>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="inputArea">
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
 	<%= f.label :avatar %><br />
	<%= image_tag (@user.avatar.url) %>
	<br />
	<%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <p><%= f.submit %></p>
  </div>
</div>
</fieldset>
<% end %>
