<h1> <%=h @user.username %><br /></h1>

<div id="contentcolumn">

<% unless @dreams.blank? %>
 	<b><%=h @user.username %>'s dreams:</b>
	<%= render :partial => "dreams/dreamlist", :dreams => @dreams  %>
<% else %>
	You haven't recorded any dreams yet! Why not <%= link_to "add one now", new_dream_path %>? No time like the present!
	<p>
		<div id="add_dream">
			<%= link_to_unless_current("Add Dream", new_dream_path, :class => "button") %>
		</div>
	</p>
<% end %>
</div>
<div id="rightcolumn">
	<div id="profile_avatar">
		<%= image_tag @user.avatar.url(:large) %>
	</div>
		
	<% if user_signed_in? && current_user.id == @user.id %>
		<p><%= link_to "Change your username/password/avatar", edit_user_path %></p>
	
	<div id="userstats">
	  <b>Login count:</b> <%=h @user.sign_in_count %><br />
	  <b>Last login at:</b>
	  <%=h @user.last_sign_in_at %>
	  <br />
	  <b>Current login at:</b>
	  <%=h @user.current_sign_in_at %>
	  <br />
	  <b>Last login ip:</b>
	  <%=h @user.last_sign_in_ip %>
	  <br />
	  <b>Current login ip:</b>
	  <%=h @user.current_sign_in_ip %>
 	 </div>
	 	
	<% end %>
	<div id="commentarea">
		<%= render "comments/comments_list", :locals => { :commentable => @commentable } %>
	</div> <!-- end commentarea -->
</div>