	<%= link_to_unless_current("Home", root_path) %> |
	<%= link_to_unless_current("Add Dream", new_dream_path) %> |

	<%  if !current_user %>
	  <%= link_to "Register", new_user_registration_path  %> |
	  <%= link_to "Log In", new_user_session_path  %> |	<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
	<% else %>
	  <%= link_to current_user.username, current_user %> |
	  <%= link_to "Logout", destroy_user_session_path, :confirm => "Are you sure you want to logout?" %>
	<% end %>

   <div id="fb-root"></div>
		<script>
	      window.fbAsyncInit = function() {
	        FB.init({appId: '180960428585498', status: true, cookie: true,
	                 xfbml: true});
	      };
	      (function() {
	        var e = document.createElement('script');
	        e.type = 'text/javascript';
	        e.src = document.location.protocol +
	          '//connect.facebook.net/en_US/all.js';
	        e.async = true;
	        document.getElementById('fb-root').appendChild(e);
	      }());
	    </script>
   <div id="search">
		SEARCH TK
	</div>