<div id="contentcolumn">
	<div id="featured">
	<span class="small_head">Dream o' the Day:</span><br />
	<%= image_tag @featured_dream.user.avatar.url, class: "left" %>
	<span class="inline_head"><%= link_to(@featured_dream.title, @featured_dream) %></span> by  <%= link_to(@featured_dream.user.username,@featured_dream.user) %>
	</div>
	<div id="latest">
	<h3>Latest dreams:</h3>
	<%= render :partial => "dreams/dreamlist", :dreams => @dreams  %>
	<%= link_to "more dreams", dreams_path, :class => "right" %>
	</div>
</div>

<div id="rightcolumn">
	<div id="add_dream">
		<%= link_to_unless_current("Add Dream", new_dream_path, :class => "button") %>
	</div>
	<fb:like-box href="http://www.facebook.com/pages/Dreamerist/160487977327137" width="292" height="400" connections="10" stream="true" header="true"></fb:like-box>
</div>
