<div id="contentcolumn">
	<!--<div id="featured">
	<h3>Dream o' the Day:</h3>
	<%= image_tag @featured_dream.user.avatar.url, class: "left" %>
	<span class="inline_head"><%= link_to(@featured_dream.title, @featured_dream) %></span><br />
	by  <%= link_to(@featured_dream.user.username,@featured_dream.user) %>
	</div>
	<table>
	<tr class="<%= cycle("even", "odd") %>">
	<td align=center>
		<%= avatar_thumb_linked_with_username(@featured_dream.user_id) %>
	</td>
	<td>
		<b><%= link_to(@featured_dream.title, @featured_dream) %></b>
	</td>
	</tr>
	</table> -->
	
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Recent Dreams</a></li>
			<li><a href="#tabs-2">Top Rated Dreams</a></li>
		</ul>
		<div id="tabs-1">
			<div id="latest">
				<table width="100%">
				<%= render @recent_dreams  %>
				</table>
				<%= link_to "more dreams", dreams_path, :class => "right" %>
			</div>
		</div>
		<div id="tabs-2">
			<table width="100%">
			<%= render @top_rated_dreams %>
			</table>
		</div>
	</div>
		
</div>

<div id="rightcolumn">

	<div id="add_dream">
		<%= link_to_unless_current("Add Dream", new_dream_path, :class => "button") %>
	</div>
	<div id="feeling">
		<h3>How's the weather?</h3>
		<div id="feeling_value"><%= @feeling_median %>&deg; </div>
		<a href="#" onClick="alert('What\'s the dream weather? Lower temps mean more nightmares lately, higher means more sweet ones!');">what's this?</a>
	</div>

	
	<fb:like-box href="http://www.facebook.com/pages/Dreamerist/160487977327137" width="292" height="400" connections="10" stream="true" header="true"></fb:like-box>
</div>
