<div id="contentcolumn">
	<!--<div id="featured">
	<h3>Dream o' the Day:</h3>
	<%= image_tag @featured_dream.user.avatar.url, class: "left" %>
	<span class="inline_head"><%= link_to(@featured_dream.title, @featured_dream) %></span><br />
	by  <%= link_to(@featured_dream.user.username,@featured_dream.user) %>
	</div>
	<table>
	<tr class="<%= cycle("even", "odd") %>">
	<td align=center>
		<%= avatar_thumb_linked_with_username(@featured_dream.user_id) %>
	</td>
	<td>
		<b><%= link_to(@featured_dream.title, @featured_dream) %></b>
	</td>
	</tr>
	</table> -->
	
	<div id="latest">
	<h3>Latest dreams:</h3>
	<%= render :partial => "dreams/dreamlist", :dreams => @dreams  %>
	<%= link_to "more dreams", dreams_path, :class => "right" %>
	</div>
</div>

<div id="rightcolumn">
	<div id="feeling">
		<h3>How's the weather?</h3>
		Median: <%= @feeling_median %> -- Mean: <%= number_with_precision(@feeling_mean, :precision => 2) %>
	</div>
	<div id="add_dream">
		<%= link_to_unless_current("Add Dream", new_dream_path, :class => "button") %>
	</div>
	<fb:like-box href="http://www.facebook.com/pages/Dreamerist/160487977327137" width="292" height="400" connections="10" stream="true" header="true"></fb:like-box>
</div>
