<fieldset>
	<legend>Sign in</legend>
<table>
	<tr><td>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<div id="inputArea">

		  <p><%= f.label :username %><br />
		  <%= f.text_field :username %></p>

		  <p><%= f.label :password %><br />
		  <%= f.password_field :password %></p>

		  <% if devise_mapping.rememberable? -%>
		    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
		  <% end -%>

		  <p><%= f.submit "Sign in" %></p>
		<% end %>
		</div>
		</td>
		<td style="vertical-align:middle">
			- or -
		</td>
		<td>
			<div class="fb-facepile" data-size="large" data-max-rows="1" data-width="300" ></div>		
			<br />
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
		
		</td>	
	</tr>
</table>

</fieldset>
<%= render :partial => "devise/shared/links" %>