<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

       <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
       <head>
         <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	      <title><%= @title + " // " if @title %>dreamerist: a site for dreams</title>
	      <%= stylesheet_link_tag "site" %>
		  <%= javascript_include_tag :defaults %>
		  <%= csrf_meta_tag %>
		  <%  #ajaxful_rating_style %>
		<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
		
		 <meta name="google-site-verification" content="1Bgq--jdydoRuZnCzirtpsf-41zDzSfvc5Jelkt36Ss" />
	     </head>
	     <body>
         <%= render :partial => "/home/ga" %>
	     <div id="container">
	     <div id="logo">
	       <%= link_to(image_tag("logo_tab.png", :border =>0), root_path) %>
		   <% # link_to("Dreamerist", root_path)%>
	     </div>
		<div id="topnav">
		 <%= render :partial => "/shared/topnav" %>
		</div>
	    <div id="flash">
		  <p><%= flash[:notice] %></p>
		  <p><%= flash[:alert] %></p>
		</div>
         
	     <%= yield %>
		 
		 <div id="footer">footer</div>
         </div>
		
	     <% if ENV["RAILS_ENV"] == "development" %>

	     <% end %>
   
    </body>
</html>

